<section>
    <div class="wrapper">
        <div class="logo">
            <img src="" alt="">
        </div>
        <div class="text-center mt-4 name">
            LumoVale
        </div>
        <form action="/signup" class="p-3 mt-3" method="POST">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="name" id="name" placeholder="Name">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fa-solid fa-envelope"></span>
                <input type="text" name="email" id="email" placeholder="Email">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fa-solid fa-phone-volume"></span>
                <input type="text" name="phone" id="phoneNumber" placeholder="Phone Number">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div>
            <button class="btn mt-3">Sign-Up</button>
        </form>
        
    </div>
</section>